.dark-blue {
  --primary-color: #90cdf4;
  --secondary-color: #969697;
  --primary-background-color: #1a202c;
  --secondary-background-color: #2d3748;
  --body: #828282;
  --headings: #edf2f7;
  --lead: #a0aec0;
  --links: #63b3ed;
  --bold: #e2e8f0;
  --counters: #718096;
  --bullets: #4a5568;
  --hr: #4a5568;
  --quotes: #e2e8f0;
  --quote-borders: #4a5568;
  --captions: #718096;
  --code: #fbd38d;
  --pre-code: #edf2f7;
  --pre-bg: #2d3748;
  --th-borders: #4a5568;
  --td-borders: #4a5568;
  --invert-body: #718096;
  --invert-headings: #2b6cb0;
  --invert-lead: #4a5568;
  --invert-links: #4299e1;
  --invert-bold: #3182ce;
  --invert-counters: #a0aec0;
  --invert-bullets: #718096;
  --invert-hr: #2d3748;
  --invert-quotes: #cbd5e0;
  --invert-quote-borders: #2d3748;
  --invert-captions: #a0aec0;
  --invert-code: #1a202c;
  --invert-pre-code: #718096;
  --invert-pre-bg: #2d3748;
  --invert-th-borders: #718096;
  --invert-td-borders: #4a5568;
}
